.allaboutWrapper{
  background-image: url("../../images/reasonssection.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
  display: block;
  position: relative;
}

.aboutWrapper{
  margin-bottom: 3em;
}

.aboutPic{
  height: 400px;
  border-radius: 16px;
  margin: 16px;
  box-shadow: 2px 2px 11px  rgba(70, 70, 70, 0.2);
}

.pictura{
  position: relative;
}


div.pictura::before {
  content:"BubblyBandits founders: Anabel Jones and Gabriella Reniero";
  display: block;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height: 100px;
  width: 140px;
  background: red;
  opacity: 0;
}

div.pictura:hover::before {
  transition-delay: 300ms;
  transition-timing-function: ease-in;
  opacity: 0.8;
}

div.pictura:hover, div.pictura:active {
  transform: scale(1.05);
}

div.pictura img:hover, div.pictura img:active{
  box-shadow: 3px 3px 16px #fff;
}
  
.cardText p{
  font-size: 18px;
}