.spin{
  /* height: 20vh; */
  /* width: 100%; */
  /* border: 2px solid red; */
  /* margin-bottom: 16px; */
}


.imgSpinWrapper {
  height: 100%;
  width: 40%;
  margin:auto;
  /* border: 2px solid blue; */
  /* background-image: url("../../images/oval.png"); */
  /* background-repeat: no-repeat; */
  /* background-position:center; */
  /* background-size: cover; */
}

.imgSpinWrapper img{
  max-width: 100%;
  height: auto;
  padding: auto;
}